section {
    position: absolute;
    display: inline-block;
    font-family: "Trebuchet MS";
    width: 85%;
    height: 75%;
    left: 18%;
    right: 25%;
    top: 20%;
    margin-top: -3%;
}

.best_value {
    position: absolute;
    background-color: #ffffff;
    width: 25%;
    height: 87%;
    left: 25%;
    z-index: 4;
    border: solid #ec8136 3.5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #80cee8;
    top: -2%;
}

.orange {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    background-color: #ec8136;
    padding-top: 9%;
    padding-bottom: 9%;
    margin-top: 0;
    font-size: 22px;
}

.price {
    text-align: center;
}

.graphics {
    text-transform: uppercase;
    color: #41525c;
    font-size: 21px;
}

.number {
    display: inline-block;
    font-weight: bold;
    font-size: 80px;
    color: #41525c;
    letter-spacing: -5px;
}

.number:before {
    content: "$";
    font-size: 25px;
    font-weight: normal;
    vertical-align: top;
    letter-spacing: normal;
}

.number:after {
    content: "Montly";
    font-size: 20px;
    font-weight: normal;
    vertical-align: bottom;
    letter-spacing: normal
}

ul li {
    position: relative;
    list-style: none;
    list-style-position: inside;
    color: #acb2ba;
    margin: 1px;
    padding: 6px;
    width: 100%;
    top: 10px;
    right: 27px;
}

li:before {
    content: url(images/check.png);
    padding-right: 10px;
    margin-left: 40px;
}

li:nth-child(even) {
    background-color: #f5f5f6;
}

li:nth-child(odd) {
    background-color: #edf5fd;
}

.button {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 9px;
    color: #ffffff;
    font-size: 15px;
    width: 70%;
    top: 12px;
    left: 35px;
    border-radius: 5px;
    background-color: #ec8136;
    box-shadow: 0 3px #b1561b;
}